[Desktop Entry]
Version=1.0
Name=PiBright
Comment=Brightness control for Raspberry Pi.
Exec=pibright
Icon=display-brightness
Terminal=false
StartupNotify=true
Type=Application
